# Base de Datos PostgreSQL
# Con Docker: DB_HOST=db (nombre del servicio en docker-compose)
# En local sin Docker: DB_HOST=localhost
DB_NAME=tennisapp
DB_USER=tennisapp
DB_PASSWORD=tennisapp
DB_HOST=db
DB_PORT=5432

# Django
SECRET_KEY=cambia_esto_por_una_clave_segura
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
